<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
        {% if site.data.avatar %}
		<a href="{{ site.base_url }}/">
			<img class="avatar" src="{{ site.base_url }}/{{ site.data.avatar }}" alt=""/>
        </a>
        {% endif %}

		<h1 class="site-title">
			<a href="{{ site.base_url }}/">{{ site.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul>
        {% for item in site.data.menus.top.entries %}
        {% if item.caption %}
            <li class="separator">
                |
            </li>
            {% if item.active %}
            <li class="active">
            {% endif %}
            {% if item.active == false %}
            <li>
            {% endif %}
                {% if item.permalink != '' %}
                <a class="clear" href="{{ site.base_url }}/{{ item.permalink }}">
                {% endif %}
                {% if item.href != '' %}
                <a class="clear" href="{{ item.href }}">
                {% endif %}
                        {{ item.caption }}
                </a>
            </li>
        {% endif %}
        {% endfor %} 

        {% for page in collections.posts.pages %}
        {% if page.title %}
        <li class="separator">
            |
        </li>
        <li>
            <a class="clear" href="{{ page.permalink | relative_url }}">
                {{ page.title }}
            </a>
        </li>
        {% endif %}
        {% endfor %} 
        {% if site.data.portfolio %}
        <li class="separator">
            |
        </li>
        <li>
            <a class="clear" href="{{ site.base_url }}/portfolio">
                Portfolio
            </a>
        </li>
        {% endif %}
        {% if site.data.search %}
        <li class="separator">
            |
        </li>
        <li>
            <a class="clear" href="{{ site.base_url }}/search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}
        {% if site.data.tags %}
        <li class="separator">
            |
        </li>
        <li>
            <a class="clear" href="{{ site.base_url }}/tags">
                <i class="fa fa-tags" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}
        
    </ul>
        
	</nav>
</header>
