{% if site.data.rss %}
<li>
	<a href="{{ site.base_url }}/feed.xml" title="{{ site.data.str_rss_follow }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.email_address %}
<li>
	<a href="mailto:{{ site.data.email_address }}" title="{{ site.data.str_email }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.behance %}
<li>
	<a href="https://www.behance.net/{{ site.data.behance }}" title="{{ site.data.str_follow_on }} Behance">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.data.bitbucket }}" title="{{ site.data.str_follow_on }} Bitbucket">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.data.dribbble }}" title="{{ site.data.str_follow_on }} Dribbble">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.data.facebook }}" title="{{ site.data.str_follow_on }} Facebook">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.data.flickr }}" title="{{ site.data.str_follow_on }} Flickr">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.github %}
<li>
	<a href="https://github.com/{{ site.data.github }}" title="{{ site.data.str_follow_on }} GitHub">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.data.google_plus }}" title="{{ site.data.str_follow_on }} Google+">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.instagram %}
<li>
	<a href="http://instagram.com/{{ site.data.instagram }}" title="{{ site.data.str_follow_on }} Instagram">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.keybase %}
<li>
	<a href="https://keybase.io/{{ site.data.keybase }}" title="{{ site.data.str_follow_on }} Keybase">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-key fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.linkedin %}
<li>
	<a href="{{ site.data.linkedin }}" title="{{ site.data.str_follow_on }} LinkedIn">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.data.pinterest }}" title="{{ site.data.str_follow_on }} Pinterest">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.data.reddit }}" title="{{ site.data.str_follow_on }} Reddit">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.data.soundcloud }}" title="{{ site.data.str_follow_on }} SoundCloud">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.stack_exchange %}
<li>
	<a href="{{ site.data.stack_exchange }}" title="{{ site.data.str_follow_on }} Stack Exchange">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.data.steam }}" title="{{ site.data.str_follow_on }} Steam">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-steam fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.tumblr %}
<li>
	<a href="http://{{ site.data.tumblr }}.tumblr.com/" title="{{ site.data.str_follow_on }} Tumblr">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.gitlab %}
<li>
	<a href="https://gitlab.com/{{ site.data.gitlab }}" title="{{ site.data.str_follow_on }} Gitlab">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.twitter %}
<li>
	<a href="https://twitter.com/{{ site.data.twitter }}" title="{{ site.data.str_follow_on }} Twitter" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.vimeo %}
<li>
	<a href="https://vimeo.com/{{ site.data.vimeo }}" title="{{ site.data.str_follow_on }} Vimeo" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.wordpress %}
<li>
	<a href="https://{{ site.data.wordpress }}.wordpress.com/" title="{{ site.data.str_follow_on }} WordPress">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.data.youtube }}" title="{{ site.data.str_follow_on }} YouTube">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}
